{% extends 'templates/app.twig' %}

{% block content %}

    <div class="page-title">
        <div class="title_left">
            <a href="{{ path_for('departments.addDepartments') }}"><button class="btn btn-default btn-app"><span class=" fa fa-cube"></span> Добавить</button></a>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input class="form-control" placeholder="Поиск..." type="text">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button"><span class=" fa fa-search"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <h2>Структура</h2>
            <div class="x_content">
                <ul class="cd-accordion-menu animated">

                    <li class="has-children">
                        <input type="checkbox" name ="group-2" id="group-2">
                        <label style="background: grey; border-radius: 2px;" for="group-2">СпецТрансЛизинг</label>

                        <ul>
                            <li class="has-children">
                                <input type="checkbox" name ="sub-group-level-1" id="sub-group-level-1">
                                <label style="background: slategray; border-radius: 2px;" for="sub-group-level-1">Управление</label>
                                <ul>
                                    <li>
                                        <div style="border: 1px solid grey; border-radius: 2px; background: white;">
                                            <div style="padding: 0 10px 10px 10px; border-bottom: 1px solid grey;">
                                                <h2>СОТРУДНИКИ</h2>
                                                <p>В отделе еще нет сотрудников</p>
                                            </div>
                                            <div style="padding: 0 10px 10px 10px; border-bottom: 1px solid grey;">
                                                <h2>ДОЛЖНОСТИ</h2>
                                                <p>Должности еще не введены</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul>
                            <li class="has-children">
                                <input type="checkbox" name ="sub-group-level-2" id="sub-group-level-2">
                                <label style="background: slategray; border-radius: 2px;" for="sub-group-level-2">Отдел лизинга</label>

                            </li>
                        </ul>

                        <ul>
                            <li class="has-children">
                                <input type="checkbox" name ="sub-group-level-3" id="sub-group-level-3">
                                <label style="background: slategray; border-radius: 2px;" for="sub-group-level-3">Отдел грузоперевозок</label>

                            </li>
                        </ul>

                    </li>

                </ul>
            </div>
    </div>

{% endblock %}