{% extends 'templates/app.twig' %}

{% block content %}
    <!-- top tiles -->
    <div class="row">
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-users"></i>
                </div>
                <div class="count">0</div>

                <h3>Сотрудников</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-play"></i>
                </div>
                <div class="count">0</div>

                <h3>Открытых заявок</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-close"></i>
                </div>
                <div class="count">0</div>

                <h3>Закрытых заявок</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
        <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-mortar-board"></i>
                </div>
                <div class="count">0</div>

                <h3>Кандидатов в базе</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
        </div>
    </div>
    <!-- /top tiles -->

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Назначенные заявки <small>подзаголовок</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore nihil nobis, quae quas quis saepe sit ut voluptate voluptatem. A ab ad alias autem consequuntur deserunt magnam nam sit.</p>

                </div>
                <hr>
                <p class="text-right">Посмотреть все заявки</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Новые кандидаты <small>подзаголовок</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id inventore nihil nobis, quae quas quis saepe sit ut voluptate voluptatem. A ab ad alias autem consequuntur deserunt magnam nam sit.</p>

                </div>
                <hr>
                <p class="text-right">Посмотреть всех кандидатов</p>
            </div>
        </div>
    </div>
{% endblock %}